@import "reset.scss";
@import "variables.scss";
@import "mixin.scss";

body {
  width: 1024px;
  font-family: $font-family_1;
}

// ------------- header --------------
header {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
nav {
  ul {
    display: flex;
  }
}

// ------------- principal ---------------

.main-principal {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  img {
    width: 500px;
  }
}
.decoration-title {
  width: 200px;
  height: 50px;
  background-color: $background-color_1;
  position: relative;
  top: 40px;
  z-index: -1;
}

.aside-text {
  display: flex;
  flex-direction: column;
  p {
    padding: 10px 0px;
    line-height: 30px;
  }
}
.main-articles {
  display: flex;
  justify-content: space-around;
}

li {
  padding: 10px;
  text-transform: capitalize;
}
span {
  text-transform: capitalize;
}
button {
  background-color: $background-color_1;
  border: dotted 0.5px black;
  border-radius: 5px;
  height: 60px;
  margin: 20px 0px;
  width: 100px;
  text-transform: capitalize;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 220px;
}

h2 {
  font-family: $font-family_2;
  font-size: 55px;
  line-height: 70px;
  letter-spacing: 10px;
}

// ----------------- card container ---------------

.article-card {
  width: 300px;
  background-color: $background-color_2;
  padding: 5px 20px 80px 20px;
  z-index: -2;
}

.card-number {
  @include rounded;
  padding: 5px 0px 20px 5px;
  border: solid 1px black;
}

.card-decoration {
  background-color: $background-color_1;
  height: 15px;
  position: relative;
  top: 28px;
  left: -2px;
  width: 25px;
  z-index: 0;
}

.card-title {
  text-transform: capitalize;
  font-weight: bold;
  padding: 15px 0px;
  position: relative;
  z-index: 1;
}

// ------------- footer ----------------

footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 80px 50px;

  img {
    width: 50px;
  }
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 220px;

  img {
    @include rounded;
    padding: 10px;
  }
}
